apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: xhatsu101/novus-gateway:v1.3
        ports:
        - containerPort: 3000
        env:
        - name: PORT
          value: "3000"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: services-env
              key: JWT_SECRET
        - name: ORDERS_SERVICE_URL
          value: "http://orders-service:4001"
        - name: PAYMENTS_SERVICE_URL
          value: "http://payments-service:4002"
        - name: PRODUCTS_SERVICE_URL
          value: "http://products-service:4003"
        - name: USERS_SERVICE_URL
          value: "http://users-service:4004"
        - name: FRONTEND_URL
          value: "http://localhost:5173"
        resources:
          requests:
            memory: "128Mi"
          limits:
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  type: NodePort
  selector:
    app: api-gateway
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
